body {
  background-color: #131313;
  margin: 0px;
  position: relative;
}
* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

/* Footer */
footer {
  position: relative;
  text-align: center;
  width: 100%;
  padding: 1rem;
  color: azure;
  bottom: 0;
}

footer .author {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

footer a:hover {
  filter: brightness(1.25);
  -webkit-filter: brightness(1.25);
  color: #3a3a3a;
  transition: 0.5s;
}

/* Apresentação */

.presentation {
  display: flex;
  justify-content: center;
}

.main {
  color: azure;
  margin: 1em;
  max-width: 35%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.photo {
  width: 15em;
  border: #fffbc9 0.1em;
  border-style: solid;
  border-radius: 0.5em;
  margin: auto;
  transition: 0.6s;
}

.photo:hover {
  transform: scale(1.05);
}

.technologies-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.45em;
  width: 100%;
  margin-bottom: 1.25em;
}

.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.t-icon {
  margin: 0.4em;
  max-width: 11%;
  width: 50px;
  height: auto;
  transition: 0.5s;
}

.t-icon:hover {
  transform: scale(1.05);
}

.invert {
  filter: invert();
}

.link-highlight {
  color: rgb(76 76 255);
  font-weight: bold;
}

.link-highlight:hover {
  filter: brightness(1.25);
  -webkit-filter: brightness(1.25);

  transition: 0.5s;
}

.main h1 {
}

.maintext {
  text-align: justify;
}

.name {
  color: #fffbc9;
}

.highlight {
  color: #fffbc9;
  font-weight: bold;
}

/* Seção de utilidades */

.utilities {
  display: flex;
  justify-content: center;
  font-size: x-large;
  height: 4em;
  margin-bottom: 3em;
}

.utilities-container {
  color: azure;
  margin: 1em;
  max-width: 35%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
}

.utilities-container ul {
  list-style-type: none;
}

.utilities-list li {
  padding: 0.2em;
  transition: 0.6s;
  border-radius: 10px;
  color: #fffbc9;
  font-weight: bold;
  display: table;
}

.utilities-list li:hover {
  filter: brightness(1.25);
  border-radius: 2px;
  transition: 0.8s;
  background-color: #2b2b2b;
}
